<table class="table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Sintomas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listarCita; let i = index">
        <th>{{i + 1}}</th>
        <td>{{c.nombre}}</td>
        <td>{{c.fecha}}</td>
        <td>{{c.hora}}</td>
        <td>{{c.sintomas}}</td>
        <td>
          <span class="text-primary i">
            <i class="fa-solid fa-pen-to-square"></i>
          </span>
          <span class="text-danger" (click)="deleteCitas(i)">
            <i class="fa-solid fa-trash-can"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
