<div class="text-center" *ngIf="formularioIncorrecto">
  <span class="badge badge-danger">DEBE LLENAR TODOS LOS CAMPOS</span>
</div>
<div class="form-group mb-3">
    <label for="nombre">NOMBRE:</label>
    <input type="text" id="nombre" class="form-control" placeholder="INGRESE NOMBRE" name="nombre"[(ngModel)]="nombre">
  </div>
  <div class="form-group mb-3">
    <label for="fecha">FECHA:</label>
    <input type="date" id="fecha" class="form-control" name="fecha"[(ngModel)]="fecha">
  </div>
  <div class="form-group mb-3">
    <label for="hora">HORA:</label>
    <input type="time" id="hora" class="form-control" name="hora"[(ngModel)]="hora">
  </div>
  <div class="form-group mb-3">
    <label for="sintomas">SINTOMAS:</label>
    <textarea type="text" id="sintomas" class="form-control" name="sintomas"cols="30" rows="4"[(ngModel)]="sintomas"></textarea>
  </div>
  <div class="form-group">
    <button (click)="addCita()" class="btn btn-primary form-control form-control-lg">GUARDAR</button>
  </div>