<div class="container mt-2">
  <div class="text-center title">APP CITAS</div>
  <div class="row mt-3">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header text-center text">
          AGREGAR CITA
        </div>
        <div class="card-body">
          <app-crear-citas (getCita) = "listaCitas($event)" ></app-crear-citas>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header text-center text">
          LISTADO DE CITAS
        </div>
        <div class="card-body">
          <listar-citas [listarCita] = "listCitas" (delete) = "eliminarCita($event)"></listar-citas>
        </div>
      </div>
    </div>
  </div>
</div>