/* You can add global styles to this file, and also import other style files */
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /*PARA AJUSTAR IMAGEN*/
    /*
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),url(''));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    */
}